@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body {
  margin: 30;
  padding: 0;

}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../images/BackgroundAnimated.gif");
    background-size: cover;
}


a {
  text-decoration: none;
  font-family: "Lato";
  font-weight: 300;
  text-align: right;
  cursor: pointer;
}

.map-link {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0px;
  color: white;
}

.title, .subtitle{
  text-align: left;
  font-family: "Lato";
  color: white;
}

.title {
  margin-top: 300px;
  font-weight: 700;
  font-size: 40px;
}

.subtitle {
  margin-top: -20px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.button {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 30px;
  padding: 10px 30px;
  background: #5EDBB1;
  border-radius: 40px;
  color: white;
  font-weight: 880;
  font-size: 20px;
  font-family: "Lato";
  border: none;
}

.streetpic1{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FAFAFC;
  position: relative;
  margin: 0px;
  display: block;
  width: 800px;
 border-radius: 90%;

}
.househomelesspic{
  padding-top: 40px;
  padding-bottom: 10px;
  background: #FAFAFC;
  position: relative;
  margin: 0px;
  display: block;
}

.section-a, .section-b, .section-d, .section-e, .section-f {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FAFAFC;

}

.footer {
  padding-top: 1px;
  padding-bottom: 60px;
  background: #FAFAFC;
  background-image: url("../images/BackgroundAnimated.gif");
  background-size: cover;
}

.heading, .paragraph {
  color: #2F3133;
  font-family: "Lato";
}

.heading {
  font-size: 20px;
  font-weight: 700px;
}

hr {
  max-width: 60px;
  margin: 0px;
  margin-top: -20px;
  background: #8D90D4;
}

.paragraph {
  font-size: 16px;
  font-weight: 100px;
  line-height: 2;
  letter-spacing: 2;
}

.article {
  color: blue;
}


.branding {
  position: relative;
  padding-top: 20px;
  left: 10;
  width: 165%;
  cursor: pointer;
  z-index: 2;
  margin-left: -17px;
}
